<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>
<%= bui_button( label: 'Example button', type: 'red') %>
<div data-controller="hello"></div>
<div data-controller="example"></div>